{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    
    <br>
    <div class='columns'>
        <div class='column'></div>
        <div class='column'>
            <h2 class='title'>Novo usuário</h2>
            <form method="POST" action="{{ url_for_security('register') }}">
                {{ register_user_form.csrf_token }}
                <div class="field">
                    {{ register_user_form.name.label(class_="label") }} 
                    <div class="control">
                        {{ register_user_form.name(size=5, class_="input") }}
                    </div>
                </div>
                <div class="field">
                {{ register_user_form.email.label(class_="label") }} 
                    <div class="control">
                        {{ register_user_form.email(size=5, class_="input") }}
                    </div>
                </div>
                <div class="field">
                    {{ register_user_form.password.label(class_="label") }} 
                    <div class="control">
                        {{ register_user_form.password(size=5, class_="input") }}
                    </div>
                </div>
                <div class="field">
                    {{ register_user_form.password_confirm.label(class_="label") }} 
                    <div class="control">
                        {{ register_user_form.password_confirm(size=5, class_="input") }}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ register_user_form.submit(class_="button is-link") }}
                    </div>
                </div>
            </form>
            <br>
            {% for field in register_user_form.errors %}
            {% for error in register_user_form.errors[field] %}
                    <div class="alert alert-error">
                        <strong>Error!</strong> {{field}} - {{error}}
                    </div>
            {% endfor %}
            {% endfor %}
            </div>
            <div class='column'></div>
    </div>

{% endblock %}


